
doctype html
html
  head
    title DX Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png")
            li #[a(href ='/') Home]
            li #[a(href ='/') About] 
            li #[a(href ='/') Services]
            li #[a(href ='/') Class Info]
            li #[a(href ='/contact') Contact Us] 
    block content

    footer#footer
      h3 Great dancers are not great because of their technique, they are great because of their passion
      | br br br
      h4 Address: Sector 3, Shivpura, Siliguri-631621
      p  Visit us to know more.
      h5 Copyright 	&#169 2022 DX Dance Academy | All rights reserved        