@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
<<<<<<< HEAD
    background-color: ##0d0c0c;
=======
    background-color: #0d0c0c;
>>>>>>> 83cf12a (feat: added Contact page, refactor: updated pug files, style: changed the background of navbar)
    font-family: 'Yeon Sung' ;
    padding: 13px, 14px;
}

img{
    height:40px;
<<<<<<< HEAD
    border-raduis:9px;
=======
    border-radius:9px;
>>>>>>> 83cf12a (feat: added Contact page, refactor: updated pug files, style: changed the background of navbar)
}

#navbar ul{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar li{
    

    list-style: none;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: black;  
}


#introSection{
    color: #f3dfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg_intro.jpg") ;
    height: 425px;
    background-color: red;
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}
#sponsorsSection{
    height: 223px;
    background-color: #fbd6d6c7;
}
#footer{
    background-color: black;
    height: 100px;
}

#missionSection{

    color: #f3dfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;

    background: center/cover no-repeat url("/static/bg_mission.jpg") ;
    height: 326px;; 
    width: 67%;
    margin: auto;

}

#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.missionSect h2{
    display:flex;
    align-items:center;
    justify-content: center;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}

.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.sponsorWrapper{

    display: flex;
    flex-direction: row;
    gap: 11rem;
}

#sponsorsSection h2{
    
    display:flex;
    align-items:center;
    justify-content: center;
<<<<<<< HEAD
=======
    padding-bottom:10px;
    
>>>>>>> 83cf12a (feat: added Contact page, refactor: updated pug files, style: changed the background of navbar)
}
.sponsorWrapper img{
    height:70px;
}

#footer h3{
    color:#6268be;
    text-align: center;
    justify-content: center;

}

#footer h4{
    color:aquamarine;
}

#footer p{
    color:aquamarine;
<<<<<<< HEAD
=======
}
#footer h5{
    text-align:center;
    justify-content:center;
    color:aquamarine;
>>>>>>> 83cf12a (feat: added Contact page, refactor: updated pug files, style: changed the background of navbar)
}